<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Introduction to ...</title>
	<link rel="stylesheet" type="text/css" href="../assets/pl.css"/>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="../assets/pl.js"></script>
</head>
<body>
<header>
	Introduction to ...
</header>
<article>
	<div class="subheader">Key Language Concepts in ...</div>
	
	<ul>
		<li>List items look like this</li>
		<li>Inline <code>code</code> looks like this</li>
		<li>And code blocks look like this<br/>
			<code class="code-block">
				&lt;ul&gt;<br/>
				[TAB]&lt;li&gt;List items look like this&lt;/li&gt;<br/>
				[TAB]&lt;li&gt;Inline &lt;code&gt;code&lt;/code&gt; looks like this&lt;/li&gt;<br/>
				&lt;/ul&gt;
			</code>
		</li>
	</ul>
	
	<div class="subheader">Core ...</div>
	
	
	<div class="subheader">References</div>
</article>
</body>
</html>
